<!DOCTYPE html>
<html lang="{{ @website.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>{{@website.name}}</title>
    {{/if}}
    {{metaDescription}}
    {{metaRobots}}
    {{{publiiHead}}}
    {{canonicalLink}}
    {{feedLink}}
    {{socialMetaTags}}
    {{#if @config.custom.faviconUpload}}
    <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
    {{/if}}
    {{> fonts}}
    <link rel="stylesheet" href="{{css 'style.css' }}">
    {{jsonLD}}
    <noscript>
        <style>
            img[loading] {
                opacity: 1;
            }
        </style>
    </noscript>
    {{{@headCustomCode}}}
</head>

<body class="{{#is 'page'}}page-template{{/is}}">
    {{{@bodyCustomCode}}}

    <div class="page-bg-wrapper">
        {{#if @config.custom.backgroundImage}}
            <img class="page-bg" src="{{@config.custom.backgroundImage}}" {{responsiveImageAttributes
                @config.custom.backgroundImage}} {{imageDimensions @config.custom.backgroundImage}} {{lazyload "eager" }}
                alt="" decoding="async">
        {{/if}}
        <div class="page-bg-overlay"></div>
    </div>